<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a20c003859.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="">
      <nav>
        <%= link_to root_path do %>
          <h1>Wikinimous</h1>
        <% end %>
        <%= link_to 'New article', new_article_path%>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
